<div class="container">
  <header class="header-component">
    <div class="header-component__wrapper">
      <div class="hamburger-section">
        <div class="menu">
          <button class="btn btn-hamburger" aria-label="Toggle Menu Bar">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
      <div [routerLink]="['/home']" class="company-logo">
        <img src="../../../assets/images/logo.jpg" alt="Runners Logo" />
      </div>
    </div>
  </header>
</div>
