<section class="landing-section">
  <div class="container">
    <div class="hero-section">
      <h3 class="landing-header">
        <span>Take the quiz</span>
        <span>and try your first pair!</span>
      </h3>
      <div class="landing-actions">
        <button aria-label="Try on your first pair" type="button" class="btn btn-primary btn-try" [routerLink]="['/perfectshoe']">
          Try on Trial
        </button>
        <p class="caption">30 Days risk free</p>
      </div>
    </div>
  </div>
</section>
