@use "./index.scss" as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  font-family: $primary-font;
  font-size: 10px;
  height: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//Button styles
.btn {
  padding: 1rem;
  font-family: $primary-font;
  font-size: $fz-12;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  transition: 0.3s all;
  cursor: pointer;
  &.btn-plain {
  }
  &.btn-primary{
    background-color: $black-bg;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: $fz-16;
    color: $white-text;
    border-bottom: 0.4rem solid $border-shade-4;
    transition:all 0.3s;
    &:hover{
      border-color: 0.4rem solid $black-bg;
    }
  }
  &.btn-secondary{
    @extend .btn-primary;
    background-color: $secondary-bg-shade-2;
    &:hover{
      border-color: 0.4rem solid $black-bg;
    }
  }
}
.container{
  padding: 0 1.5rem;
}