// Runner Website pre-defined Variables

//constants
$white-bg: #ffffff;
$white-text: #ffffff;

$black-bg: #000000;
$black-text: #000000;

//theme based variables
$runner-grey-shade-100: #f7f7f7;
$primary-text-shade: #000000;
$secondary-text-shade: #a1a1a1;
$text-shade-1:#9d9d9d;
$secondary-bg-shade: #333333;
$secondary-bg-shade-2:#3b6473;
$border-shade-1: #747474;
$border-shade-2: #ffffff;
$border-shade-3: #eaeaea;
$border-shade-4: #262d2f;
